<div class="navbar-wagon navbar-fixed-top">

  <%= link_to "https://www.github.com/coughinbach", class: "btn nav-btn" do %>
  <i class="fa fa-question-circle-o"></i>
  <% end %>
  <%= link_to cocktails_path, class: 'btn nav-btn' do %>
  <i class="fa fa-history"></i>
  <% end %>
</div>



<div class="banner">
  <div class="banner-content">
    <h1>get your drink on</h1>
    <p>it's five o' clock somewhere, but who says you even have to wait?</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h2>All Cocktails</h2>

      <%= link_to new_cocktail_path do %>
      <i class="fa fa-plus"></i> Add a new cocktail
      <% end %>

      <br>
      <br>

      <div class="cards">
        <% @cocktails.each do |cocktail| %>
        <div class="card" style="background-image:
         url('<%= cl_image_path cocktail.photo.url %>')">
          <div class="card-content">
            <div class="card-name">
              <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
            </div>
            <i class="fa fa-glass"></i>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="footer footer-hide navbar-fixed-bottom">
  <div class="footer-text">
    this cocktail manager was made with my <i class="fa fa-tint" aria-hidden="true"></i> at Le Wagon
  </div>
</div>
